/* style.css */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  background-image: url("../assets/welcome_bg.svg");
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 500px;
}

.smile-icon {
  width: 40px;
  margin-bottom: 10px;
}

h1 {
  font-size: 28px;
  color: #1f394b;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #1f394b;
}

.highlight {
  color: #e67e22;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.continue {
  background-color: #3498db;
  color: white;
}

.quit {
  background-color: #ffa046;
  color: white;
}

.quit:hover {
  background-color: #ff7c46;
}

.quit:active {
  background-color: #ff6f5c;
}
